.agnis-list-03 {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
	max-width:800px;
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
}
.agnis-list-03  li{
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.7em;
    /*background-color: #14c599;*/
	background: linear-gradient(#e66465, #9198e5);
    padding-left: 58px;
}
.agnis-list-03 a{
    text-decoration:none;
    color:white;
    font-size:1.6em;

}
.agnis-list-03 li:hover{
    box-shadow:inset -1em 0 #9198e5;
    -webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}

.agnis-list-03  li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: #9198e5;
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}
/* agnis list 16 */
.agnis-list-16 {
	width:auto;
	background: #14C599;
	color: #8b8b8b;
	padding: 20px 10px 20px 10px;
	border-radius: 4px;
}
.agnis-list-16 span {
	color: #F90;
}

.agnis-list-16 ul{
	clear:both !important;
	list-style:none;
	}

.agnis-list-16 li{
	margin: 5px 0px 0px 0px;
	float: left;
	width: 100%;
	padding: 0px 0px 5px 0px;
	border-bottom: 1px solid #02016A;
}
.agnis-list-16 li:last-child {
    border-bottom: 0px solid #02016A;
}

.agnis-list-16  .icon-box {
	width: 15%;
	text-align: center;
	float: left;
	font-size: 300%;
	color: #02016A;
	padding-top: 25px;
	}
.agnis-list-16 li .icon-description {
	width: 85%;
	float: left;
}

.icon-description small {
	display: block;
	padding: 0px 0px 0px 5px;
	margin: 10px 0px 0px;
	font-size: 1.4em;
	color: #02016A;
	font-weight: 500;
	text-transform: uppercase;
}
.icon-description h5 {
	padding: 5px 0px 10px 5px;
	margin: 0;
	font-weight: 400;
	font-size: 1.2em;
	color: #FFF;
	text-transform: none !important;
}

.agnis-list-16 h3{
	margin:0px;
	padding:20px 30px;
	font-size:200%;
	color:#fff;
	}
/*=========================================agnis list 16 end=============================================*/

.glossymenu{
margin: 5px 0;
padding: 0;
width: 100%; /*width of menu*/
border: 1px solid #086B52;
border-bottom-width: 0;
}

.glossymenu a.menuitem{
background: #14C599;
border-bottom: 1px solid #086B52;
font: bold 20px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: white;
display: block;
position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
width: auto;
padding: 15px 0;
padding-left: 10px;
text-decoration: none;
}


.glossymenu a.menuitem:visited, .glossymenu .menuitem:active{
color: white;
}

.glossymenu a.menuitem .statusicon{ /*CSS for icon image that gets dynamically added to headers*/
position: absolute;
/*top: 5px;*/
right: 5px;
border: none;

}

.glossymenu a.menuitem:hover{
/*background-image: url(glossyback2.gif);*/
	background-color: #14C599;
}

.glossymenu div.submenu{ /*DIV that contains each sub menu*/
background: white;
}

.glossymenu div.submenu ul{ /*UL of each sub menu*/
list-style-type: none;
margin: 0;
padding: 0;
}

.glossymenu div.submenu ul li{
border-bottom: 1px solid #086B52;
}

.glossymenu div.submenu ul li a{
display: block;
font: normal 16px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif;
color: black;
text-decoration: none;
padding: 12px 0;
padding-left: 10px;
}

.glossymenu div.submenu ul li a:hover{
background: #02016A;
color: white;
}
.active{
background:#68DABE;
color: white !important;
}

@media screen and (max-width: 768px) {
 .hidden-xs{
	display: none;
visibility: hidden;
}
}

.pattern-bg01 {
    background-color:rgba(2,2,2,0.90) !important;
    background-position: 0% 0% !important;
    background-repeat: repeat !important;
    background-attachment: scroll !important;
    background-image:url("../images/pattern/p18.png");
    background-size: auto !important;
    background-origin: padding-box !important;
    background-clip: border-box !important;
}
.text-blue{
	color:#02016A;
}
.blog-single .inner-box .lower-content .text p{
	color:#333;
}
