@charset "UTF-8";
@import '../css/fontello.css';
@import '../css/lity.css';
@font-face {
  font-family: "Foco-Regular";
  src: url("../font/Foco-Regular.eot");
  src: url("../font/Foco-Regular.eot?#iefix") format("embedded-opentype"), url("../font/Foco-Regular.woff") format("woff"), url("../font/Foco-Regular.ttf") format("truetype"), url("../font/Foco-Regular.svg#Foco-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FocoLight-Regular";
  src: url("../font/FocoLight-Regular.eot");
  src: url("../font/FocoLight-Regular.eot?#iefix") format("embedded-opentype"), url("../font/FocoLight-Regular.woff") format("woff"), url("../font/FocoLight-Regular.ttf") format("truetype"), url("../font/FocoLight-Regular.svg#FocoLight-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Foco-Bold";
  src: url("../font/Foco-Bold.eot");
  src: url("../font/Foco-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Foco-Bold.woff") format("woff"), url("../font/Foco-Bold.ttf") format("truetype"), url("../font/Foco-Bold.svg#Foco-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Foco-Regular";
  color: #2b2b2b;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
  cursor: pointer;
}
a:focus {
  outline: none;
}
a.btn {
  display: block;
  color: #fff;
  padding: 0.5em;
  width: 100%;
  max-width: 150px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
}
a.hvr-sweep-to-bottom {
  display: inline-block;
  background: #b2b2b2;
  /*vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);*/
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
a.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-sweep-to-bottom:hover, a.hvr-sweep-to-bottom:focus, a.hvr-sweep-to-bottom:active {
  color: white;
}
a.hvr-sweep-to-bottom:hover:before, a.hvr-sweep-to-bottom:focus:before, a.hvr-sweep-to-bottom:active:before {
  transform: scaleY(1);
}

.wpcf7-submit {
  background: #d40416;
  color: #fff;
  width: 100%;
  padding: 1em 0;
}
.wpcf7-submit:hover {
  background: #c31020;
}

i {
  transition: all ease 0.3s;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

input {
  font-family: "helvetica";
  border: none;
  color: #000;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

div.border,
span.border {
  display: block;
  background: #d40416;
  width: 40px;
  height: 5px;
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  border-bottom: 3px solid #ebebeb;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo img {
  width: 8.5em;
}
header .container nav {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .container nav ul {
  position: relative;
}
header .container nav ul li {
  display: inline-block;
  padding: 1.5em 0;
}
header .container nav ul.language {
  padding: 0 1em;
  font-size: 0.8em;
  transition: all ease-in-out 0.3s;
}
header .container nav ul.language > li:first-child:after {
  content: "";
  font-family: "fontello";
  padding-left: 0.5em;
}
header .container nav ul.language li {
  display: block;
  padding: 0.5em 0.6em;
  text-align: left;
}
header .container nav ul.language li:nth-child(2), header .container nav ul.language li:nth-child(3) {
  opacity: 0;
  position: absolute;
}
header .container nav ul.language li:nth-child(2) {
  top: 1.7em;
}
header .container nav ul.language li:nth-child(3) {
  top: 3.2em;
}
header .container nav ul.language li a {
  color: #2b2b2b;
}
header .container nav ul.language li a:hover {
  color: #d40416;
  text-decoration: underline;
}
header .container nav ul.language:hover {
  max-height: 5em;
}
header .container nav ul.language:hover li:nth-child(2), header .container nav ul.language:hover li:nth-child(3) {
  opacity: 1;
}
header .container nav ul.share {
  padding: 0 1em;
}
header .container nav ul.share a i {
  font-size: 1.5em;
}
header .container nav ul.share a i.icon-facebook-circled {
  color: #3b5998;
}
header .container nav ul.share a i.icon-twitter-circled {
  color: #55acee;
}
header .container nav ul.share a i.icon-instagram {
  color: #E1306C;
}
header .container nav .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .container nav .nav i {
  font-size: 2em;
  cursor: pointer;
  line-height: 100%;
}
header .container nav .nav i:hover {
  color: #d40416;
}
header .container nav .nav span {
  display: block;
  font-size: 0.7em;
  text-align: center;
  cursor: pointer;
}
header .container nav .nav span:hover {
  color: #d40416;
}
header .container nav .nav.fixed {
  position: fixed;
  top: 0.2em;
  right: 1em;
  z-index: 9991;
}

.navigator {
  background: rgba(255, 255, 255, 0.9);
  padding: 2em;
  transform: translateX(100%);
  transition: all ease 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 9999;
}
.navigator .title {
  border-bottom: 3px solid #d40416;
}
.navigator .title ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigator .title ul li {
  text-transform: uppercase;
  font-family: "Foco-Bold";
}
.navigator .title ul li i.icon-cancel {
  font-size: 1.5em;
  color: #d40416;
  cursor: pointer;
}
.navigator .title ul li i.icon-cancel:hover:before {
  transform: scale(1.3);
  transition: transform ease 0.5s;
}
.navigator .list {
  padding: 1em 0;
  font-size: 0.8em;
}
.navigator .list ul li {
  text-transform: uppercase;
  line-height: 150%;
  padding: 0.5em 0;
}
.navigator .list ul li a {
  color: #2b2b2b;
}
.navigator .list ul li .border {
  height: 3px;
  width: 20%;
  transition: all ease-in-out 0.3s;
}
.navigator .list ul li:hover .border {
  width: 80%;
}
.navigator .share-mobile ul {
  display: flex;
  align-items: center;
}
.navigator .share-mobile ul li {
  display: inline-block;
}
.navigator .share-mobile ul li a i {
  font-size: 1.5em;
}
.navigator .share-mobile ul li a i.icon-facebook-circled {
  color: #3b5998;
}
.navigator .share-mobile ul li a i.icon-twitter-circled {
  color: #55acee;
}
.navigator .share-mobile ul li a i.icon-linkedin {
  color: #007bb5;
}
.navigator .share-mobile ul li a i.icon-instagram {
  color: #cd486b;
}
.navigator .share-mobile ul li a img {
  width: 1.4em;
}
.navigator .share-mobile ul li:nth-child(3) {
  padding-right: 0.4em;
}
.navigator.show {
  transform: translateX(0%);
}

.banner {
  background: #f8f8fa;
}
.banner .container .slide .slick-slide:focus {
  outline: none;
}
.banner .container .slide .first {
  background: url(../images/bg-slide.png) no-repeat right center;
}
.banner .container .slide .second {
  background: url(../images/bg-slide-2.png) no-repeat right center;
}
.banner .container .slide .third {
  background: url(../images/bg-slide-3.png) no-repeat right center;
}
.banner .container .slide h3, .banner .container .slide h1 {
  margin: 0;
  text-transform: uppercase;
}
.banner .container .slide h3 {
  font-family: "FocoLight-Regular";
}
.banner .container .slide button {
  position: absolute;
  bottom: 28%;
  border: none;
  padding: 0.2em 1em;
  z-index: 2;
}
.banner .container .slide button:focus {
  outline: none;
}
.banner .container .slide button.slick-next {
  background: #d40416;
  left: 3.1em;
}
.banner .container .slide button.slick-next i {
  color: #fff;
}
.banner .container .slide button.slick-prev {
  background: #e2e2e2;
  left: 0;
}
.banner .container .slide button.slick-prev i {
  color: #d40416;
}
.banner .container .slide button i {
  font-size: 0.8em;
}
.banner .container .certificados ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 0;
}
.banner .container .down {
  display: block;
  text-align: center;
}
.banner .container .down a {
  color: #b1b1b1;
  font-size: 1.5em;
}
.banner .container .down a:hover {
  color: #d40416;
}

.main {
  padding: 3em 0;
}
.main .container h1 {
  font-family: "FocoLight-Regular";
  color: #3a3a3a;
  text-align: center;
  margin: 1.5em 0;
}
.main .container h1 span {
  color: #d40416;
}
.main .container h1 span a {
  color: #d40416;
}
.main .container h1 span a:hover {
  text-decoration: underline;
}
.main .container .box ul {
  background: #f3f3f8;
  height: 400px;
}
.main .container .box ul:after {
  content: "";
  display: table;
  clear: both;
}
.main .container .box ul li {
  float: left;
  width: 33.33%;
  height: 100%;
}
.main .container .box ul li h4 {
  margin: 0;
}
.main .container .box ul li img {
  display: block;
  width: 100%;
  height: 100%;
}
.main .container .box ul li .box-medium {
  height: 200px;
  position: relative;
}
.main .container .box ul li .box-medium .box-small {
  background: #fff;
  padding: 0.7em;
  font-size: 0.85em;
  box-sizing: border-box;
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 93%;
  height: 88%;
}
.main .container .box ul li .box-medium .box-small h4 {
  text-transform: uppercase;
  color: #d40416;
}
.main .container .box ul li .box-medium .box-small p {
  font-size: 0.9em;
}
.main .container .box ul li .box-medium .box-small .border {
  display: block;
  background: #d40416;
  width: 35px;
  height: 3px;
  margin-top: 0.3em;
}
.main .container .box ul li .box-medium .box-small .readmore {
  background: #d40416;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  position: absolute;
  left: 0.7em;
  bottom: 0.7em;
}
.main .container .box ul li .box-medium .box-small .readmore i {
  font-size: 0.9em;
}
.main .container .box ul li .box-medium .marco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.main .container .box ul li:hover {
  background: #d40416;
  transition: all ease 0.3s;
}
.main .container .box ul li:hover .box-medium .box-small {
  background: #b10312;
  -webkit-box-shadow: inset 0 0 10px 0 #BA0413;
  box-shadow: inset 0 0 10px 0 #BA0413;
}
.main .container .box ul li:hover .box-medium .box-small h4, .main .container .box ul li:hover .box-medium .box-small p {
  color: #fff;
}
.main .container .box ul li:hover .triangle-up-one {
  border-bottom: 14px solid #b10312;
  transition: all ease 0.2s;
}
.main .container .box ul li:hover .triangle-up-two {
  border-bottom: 14px solid #d40416;
  transition: all ease 0.2s;
}
.main .container .box ul li:hover .triangle-down-one {
  border-top: 14px solid #b10312;
  transition: all ease 0.2s;
}
.main .container .box ul li:hover .triangle-down-two {
  border-top: 14px solid #d40416;
  transition: all ease 0.2s;
}
.main .container .box ul li.even:hover .marco {
  border-top: 0.6em solid #d40416;
  border-right: 0.6em solid #d40416;
  border-left: 0.6em solid #d40416;
  transition: all ease 0.2s;
}
.main .container .box ul li.odd:hover .marco {
  border-bottom: 0.6em solid #d40416;
  border-right: 0.6em solid #d40416;
  border-left: 0.6em solid #d40416;
  transition: all ease 0.2s;
}
.main .container .box.exportadores ul:after {
  content: "";
  display: table;
  clear: both;
}
.main .container .box.exportadores ul li:first-child {
  background: #00a43e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .container .box.exportadores ul li:first-child span {
  display: block;
  padding: 1em;
  font-size: 1.7em;
  box-sizing: border-box;
}
.main .container .box.exportadores ul li:first-child:hover {
  background: #00a43e;
}
.main .container .box.csr .banner {
  position: relative;
}
.main .container .box.csr .banner img {
  display: block;
  width: 100%;
}
.main .container .box.csr .banner img.brand {
  width: 18em;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.main .container .box.csr .carrousel {
  background: #00a43e;
  display: flex;
  justify-content: space-around;
}
.main .container .box.csr .carrousel .box-medium {
  background: rgba(0, 0, 0, 0.2);
  width: 31%;
  margin: 0.6em 0;
  padding: 1em;
  font-size: 0.85em;
  color: #fff;
  box-sizing: border-box;
}
.main .container .box.csr .carrousel .box-medium h4 {
  margin: 0;
  text-transform: uppercase;
}
.main .container .box.csr .carrousel .box-medium .border {
  display: block;
  background: #00a43e;
  width: 35px;
  height: 3px;
  margin-top: 0.3em;
}
.main .container .box.csr .carrousel .box-medium p {
  font-size: 0.9em;
}
.main .container .box.csr .carrousel .box-medium .readmore {
  background: #00a43e;
  padding: 0.5em 1em;
  font-size: 0.8em;
  color: #fff;
}
.main .container .box.csr .carrousel .box-medium .readmore i {
  font-size: 0.9em;
}
.main .container .box.csr .carrousel .box-medium:hover {
  background: #fff;
  color: #2b2b2b;
}
.main .container .box.csr .carrousel .box-medium:hover h4 {
  color: #00a43e;
}
.main .container .box.csr .carrousel .box-medium:hover .readmore {
  color: #fff;
}
.main .container .box.press {
  padding: 2em 0;
}
.main .container .box.press p a {
  color: #d40416;
}
.main .container .box.press ul li:first-child:hover {
  background: none;
}
.main .container .box.press ul li:first-child:hover .box-medium .box-small {
  background: #fff;
  box-shadow: initial;
}
.main .container .box.press ul li:first-child:hover .box-medium .box-small h4 {
  color: #d40416;
}
.main .container .box.press ul li:first-child:hover .box-medium .box-small p {
  color: initial;
}
.main .container .box.press ul li:first-child:hover .triangle-down-one {
  border-top: 14px solid #fff;
}
.main .container .box.press .top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main .container .box.press .top a {
  display: block;
  background: #fff;
  width: 43%;
  height: 175px;
  text-align: center;
  color: #d40416;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .container .box.press .top a:hover {
  background: #d40416;
  color: #fff;
}
.main .container .box.press .top a span {
  display: block;
}
.main .container .box.press .top a span:first-child i {
  font-size: 4em;
}
.main .container .box.press .top a span:last-child {
  font-size: 0.7em;
}
.main .container .box .triangle-up-one {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid #fff;
  position: absolute;
  top: 0;
  right: 47px;
}
.main .container .box .triangle-up-two {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 14px solid #f3f3f8;
  position: absolute;
  bottom: 0;
  right: 47px;
}
.main .container .box .triangle-down-one {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 14px solid #fff;
  position: absolute;
  bottom: 0;
  right: 47px;
}
.main .container .box .triangle-down-two {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 14px solid #f3f3f8;
  position: absolute;
  top: 0;
  right: 47px;
}
.main .container .statistics {
  padding: 2em 0;
}
.main .container .statistics ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
}
.main .container .statistics ul li {
  width: 25%;
}
.main .container .statistics ul li span {
  display: block;
}
.main .container .statistics ul li span:first-child {
  color: #d40416;
  font-size: 2em;
}
.main .container .statistics ul li span:last-child {
  font-size: 1.3em;
  font-family: "FocoLight-Regular";
}

.social ul {
  display: flex;
  justify-content: space-between;
}
.social ul li {
  width: 47.5%;
}

footer {
  background: #1e1e1e;
  color: #bcbcbc;
  padding: 2em 0 0;
}
footer .top .container > ul:after {
  content: "";
  display: table;
  clear: both;
}
footer .top .container > ul > li {
  font-size: 0.75em;
  float: left;
  width: 16%;
  margin-right: 5%;
  min-height: 14em;
  padding: 0 0 2em;
}
footer .top .container > ul > li:nth-child(5n) {
  margin-right: 0;
}
footer .top .container ul li {
  line-height: 120%;
}
footer .top .container ul li h4 {
  text-transform: uppercase;
}
footer .top .container ul li a {
  color: #bcbcbc;
}
footer .top .container ul li a:hover {
  color: #fff;
  text-decoration: underline;
}
footer .top .container ul.grandson {
  padding: 0 0 0 0.7em;
}
footer .bottom {
  background: #d40416;
}
footer .bottom .container {
  font-size: 0.75em;
  padding: 1em 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .bottom .container a {
  color: #fff;
}
footer .bottom .container a:hover {
  text-decoration: underline;
}
footer .bottom .container a.active {
  text-decoration: underline;
}

/*==========================
PAGES
==========================*/

.bannerSection {
  background: url(../demofreshwaterfood/images/slide.jpeg) no-repeat center center;
  background-size: cover;
  color: #fff;
  padding: 17em 0 2em;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px 10px #000;
}
.bannerSection.about {
  background: url(../images/banner-section-about.jpeg) no-repeat center center;
  background-size: cover;
}
.bannerSection.facilities {
  background: url(../images/banner-section-facilities.jpeg) no-repeat center center;
  background-size: cover;
}
.bannerSection.contact {
  background: url(../images/banner-section-contact.jpeg) no-repeat center center;
  background-size: cover;
}
.bannerSection.working {
  background: url(../images/banner-section-working.jpeg) no-repeat center center;
  background-size: cover;
}
.bannerSection.products {
  background: url(../images/banner-section-products.jpeg) no-repeat center center;
  background-size: cover;
}
.bannerSection.press {
  background: url(../images/newBannerPress.jpeg) no-repeat center center;
  background-size: cover;
}
.bannerSection h1 {
  margin: 0;
  font-size: 2.5;
}
.bannerSection .border {
  display: block;
  background: #d40416;
  width: 35px;
  height: 3px;
  margin-top: 0.3em;
}

.wrapper {
  font-size: 0.9em;
}
.wrapper .nav-items {
  border-bottom: 1px solid #f4f3f3;
  margin-bottom: 2em;
}
.wrapper .nav-items ul {
  display: flex;
  justify-content: space-around;
}
.wrapper .nav-items ul li {
  padding: 0.8em 1em;
  transition: 0.5s all ease-out;
}
.wrapper .nav-items ul li a {
  text-transform: uppercase;
  font-family: "Foco-Bold";
  color: #2b2b2b;
}
.wrapper .nav-items ul li a:hover {
  color: #d40416;
}
.wrapper .nav-items ul li:focus {
  outline: none;
}
.wrapper .nav-items ul li.ui-state-active a {
  color: #d40416;
}
.wrapper .nav-items ul li.active {
  background: #f4f3f3;
  transition: 0.5s all ease-out;
}
.wrapper .nav-items ul li.active a {
  color: #d40416;
}
.wrapper .nav-items.fixed {
  background: #fff;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s all ease-out;
  z-index: 999;
}
.wrapper .quotes {
  color: #00a43e;
  font-size: 1.2em;
  padding: 0.5em 0;
}
.wrapper h2 {
  color: #d40416;
  text-transform: uppercase;
}
.wrapper .item {
  padding: 2em 0;
}
.wrapper .item h2 {
  font-size: 2em;
  margin: 0.2em 0;
}
.wrapper .item h2.subtitle {
  text-transform: initial;
  font-family: "FocoLight-Regular";
  text-align: center;
}
.wrapper p.description {
  color: #d40416;
  font-size: 1.2em;
}
.wrapper p.description.nocolor {
  color: #2b2b2b;
}
.wrapper ul.team:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper ul.team li {
  text-align: center;
  width: 23.5%;
  float: left;
  padding: 1em 0;
  margin-right: 2%;
  min-height: 10em;
}
.wrapper ul.team li span {
  display: block;
}
.wrapper ul.team li span.avatar {
  background: #f4f3f3;
  width: 163px;
  height: 163px;
  border-radius: 50%;
  margin: 0 auto 1em;
  overflow: hidden;
}
.wrapper ul.team li span.name {
  color: #d40416;
  font-size: 1.3em;
}
.wrapper ul.team li span.role {
  font-size: 0.8em;
  font-family: "FocoLight-Regular";
}
.wrapper ul.team li:nth-child(4n) {
  margin-right: 0;
}
.wrapper .featured {
  background: #f4f3f3;
  margin: 2em 0;
  display: flex;
  align-items: flex-start;
}
.wrapper .featured:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper .featured .box {
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
.wrapper .featured .box h2 {
  color: #00a43e;
  font-family: "FocoLight-Regular";
  text-transform: initial;
}
.wrapper .featured .box.left {
  width: 40%;
}
.wrapper .featured .box.left .slick-slide img {
  width: 100%;
}
.wrapper .featured .box.left .slick-dots {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.wrapper .featured .box.left .slick-dots li {
  display: inline-block;
  padding: 0 0.2em;
  line-height: 100%;
}
.wrapper .featured .box.left .slick-dots li.slick-active button {
  background: #00a43e;
}
.wrapper .featured .box.left .slick-dots li button {
  font-size: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 0;
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;
  transition: 0.5s all ease-out;
}
.wrapper .featured .box.left .slick-dots li button:hover {
  background: #00a43e;
}
.wrapper .featured .box.left .slick-dots li button:focus {
  outline: none;
}
.wrapper .featured .box.left .slick-dots li:before {
  content: none !important;
}
.wrapper .featured .box.right {
  width: 60%;
  padding: 2em;
}
.wrapper.sostenibilidad {
  padding-top: 0;
  line-height: 150%;
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion .ui-accordion-content {
  padding: 0 0 2em 0;
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion h3 {
  display: flex;
  align-items: center;
  border-top: 1px solid #ebebeb;
  font-family: "FocoLight-Regular";
  margin: 0;
  padding: 1em 0;
  cursor: pointer;
  position: relative;
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion h3 img {
  padding: 0 2em 0 0;
  width: 100%;
  max-width: 35px;
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion h3 strong {
  font-family: "Foco-Bold";
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion h3:hover {
  color: #00a43e;
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion h3.ui-state-active {
  color: #00a43e;
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion h3:focus {
  outline: none;
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion h3 i.icon-down-open {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 1.5em;
  font-size: 0.8em;
}
.wrapper.sostenibilidad #sostenibilidad .item #accordion div {
  padding-left: 4em;
  box-sizing: border-box;
}
.wrapper.sostenibilidad #sostenibilidad .item ul {
  padding: 0 0 0 2em;
}
.wrapper.sostenibilidad #sostenibilidad .item ul li {
  line-height: 200%;
}
.wrapper.sostenibilidad #sostenibilidad .item ul li:before {
  content: "• ";
  color: #d40416;
}
.wrapper.sostenibilidad #sostenibilidad #tabs-3 span.quotes {
  display: block;
  margin: 1em 0;
}
.wrapper.sostenibilidad #sostenibilidad #tabs-3 .projects {
  padding: 1em 0;
}
.wrapper.sostenibilidad #sostenibilidad #tabs-3 .projects .nameProject {
  text-transform: uppercase;
  font-family: "Foco-Bold";
}
.wrapper.sostenibilidad #sostenibilidad #tabs-3 .projects h2 {
  color: #00a43e;
  text-transform: initial;
  font-family: "FocoLight-Regular";
}
.wrapper.sostenibilidad #sostenibilidad #tabs-3 .projects .border {
  background: #00a43e;
}
.wrapper.sostenibilidad #sostenibilidad #tabs-3 .projects ul li:before {
  color: #00a43e;
}
.wrapper.about .columns {
  display: flex;
  align-items: center;
}
.wrapper.about .columns .box {
  float: left;
}
.wrapper.about .columns .box.left {
  width: 60%;
  margin-right: 5%;
}
.wrapper.about .columns .box.right {
  width: 35%;
}
.wrapper.about .columns .box.right img {
  width: 100%;
  max-width: 335px;
}
.wrapper.about .processing ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em 0;
}
.wrapper.about .processing ul li {
  color: #d40416;
  text-align: center;
  font-size: 1.3em;
}
.wrapper.about .processing ul li:before {
  content: none !important;
}
.wrapper.about .processing ul li div,
.wrapper.about .processing ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 76px;
}
.wrapper.about .processing ul li i {
  font-size: 1.7em;
}
.wrapper.about #tabs-2 {
  background: #f9fafa;
  text-align: center;
}
.wrapper.about #tabs-2 .border {
  margin: 0 auto;
}
.wrapper.about #tabs-2 ul {
  padding: 0;
}
.wrapper.about #tabs-2 ul.human-source {
  padding: 2em 0;
}
.wrapper.about #tabs-2 ul.human-source li {
  display: inline-block;
  vertical-align: middle;
}
.wrapper.about #tabs-2 ul.human-source li div {
  color: #d40416;
  font-size: 1.2em;
}
.wrapper.about #tabs-2 ul.human-source li div img {
  width: 100%;
  max-width: 99px;
  height: auto;
}
.wrapper.about #tabs-2 ul.human-source li div:first-child {
  padding: 0 0 1em 0;
}
.wrapper.about #tabs-2 ul.human-source li div:first-child img {
  max-width: 105px;
}
.wrapper.about #tabs-2 ul.human-source li div:last-child {
  color: #b1b1b1;
  font-size: 0.75em;
}
.wrapper.about #tabs-2 ul.human-source li:before {
  content: none;
}
.wrapper.about #tabs-2 ul.human-source li:nth-child(even) {
  padding: 0 4em;
}
.wrapper.about #tabs-3 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper.about #tabs-3 ul li img {
  width: 100%;
  max-width: 101px;
}
.wrapper.about #tabs-3 ul.team li {
  width: 32%;
}
.wrapper.about #tabs-3 ul.team li:nth-child(4) {
  margin-right: 2%;
}
.wrapper.about #tabs-3 ul.team li:nth-child(3n) {
  margin-right: 0;
}
.wrapper.about #tabs-4 {
  background: #f9fafa;
  text-align: center;
}
.wrapper.about #tabs-4 .border {
  margin: 0 auto;
}
.wrapper.about .bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.about .bubbles img {
  width: 100%;
  max-width: 816px;
}
.wrapper.about .burbujas {
  margin: 2em 0;
}
.wrapper.about .burbujas .container {
  position: relative;
  min-height: 34em;
}
.wrapper.about .burbujas .container img {
  position: absolute;
}
.wrapper.about .burbujas .container img.logo {
  max-width: 8em;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.wrapper.about .burbujas .container .bubble {
  background: #f3f3f3;
  border-radius: 50%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper.about .burbujas .container .bubble span {
  display: block;
  text-align: center;
}
.wrapper.about .burbujas .container .bubble span:first-child {
  color: #d40416;
  font-size: 1.5em;
}
.wrapper.about .burbujas .container .bubble span:last-child {
  font-size: 0.85em;
}
.wrapper.about .burbujas .container .bubble.small {
  height: 5em;
  width: 5em;
}
.wrapper.about .burbujas .container .bubble.medium {
  height: 8em;
  width: 8em;
}
.wrapper.about .burbujas .container .bubble.large {
  height: 11em;
  width: 11em;
}
.wrapper.about .burbujas .container .bubble.uno {
  top: 21%;
  left: 42%;
}
.wrapper.about .burbujas .container .bubble.dos {
  top: 2%;
  left: 30%;
}
.wrapper.about .burbujas .container .bubble.tres {
  top: 60%;
  left: 25%;
}
.wrapper.about .burbujas .container .bubble.cuatro {
  top: 34%;
  left: 32%;
}
.wrapper.about .burbujas .container .bubble.cinco {
  top: 35%;
  left: 17%;
}
.wrapper.about .burbujas .container .bubble.seis {
  top: 20%;
  left: 57%;
}
.wrapper.about .burbujas .container .bubble.siete {
  top: 50.5%;
  left: 52%;
}
.wrapper.about .burbujas .container .bubble.ocho {
  top: 8%;
  left: 50%;
}
.wrapper.about .burbujas .container .bubble.nueve {
  top: 72%;
  left: 45%;
}
.wrapper.about .burbujas .container .bubble.diez {
  top: 68%;
  left: 63%;
}
.wrapper.about .burbujas .container .bubble.once {
  top: 47%;
  left: 74%;
}
.wrapper.about .burbujas .container .bubble.doce {
  top: 18%;
  left: 78%;
}
.wrapper.about .burbujas .container .bubble.trece {
  top: 50%;
  left: 1%;
}
.wrapper.about .burbujas .container .bubble.catorce {
  top: 5%;
  left: 7%;
}
.wrapper.facilities {
  line-height: 150%;
}
.wrapper.facilities h3 {
  text-transform: uppercase;
}
.wrapper.facilities h4 {
  margin: 0;
  color: #d40416;
  text-transform: uppercase;
}
.wrapper.facilities .item ul {
  padding: 0 0 0 2em;
}
.wrapper.facilities .item ul li {
  line-height: 200%;
}
.wrapper.facilities .item ul li:before {
  content: "• ";
  color: #d40416;
}
.wrapper.facilities .alineando {
  padding: 2em 0 0 0;
}
.wrapper.facilities .alineando:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper.facilities .alineando .box {
  float: left;
}
.wrapper.facilities .alineando .box.left {
  width: 65%;
  margin-right: 5%;
}
.wrapper.facilities .alineando .box.right {
  width: 30%;
}
.wrapper.facilities .alineando .box.right .video {
  position: relative;
  padding: 1em 0;
  text-align: center;
}
.wrapper.facilities .alineando .box.right .video a {
  color: #d40416;
  color: red;
  font-size: 0.8em;
  text-decoration: underline;
}
.wrapper.facilities .alineando .box.right .video img.icon-play {
  opacity: 0.7;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 93px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.wrapper.facilities .alineando .box.right .video img.icon-play:hover {
  opacity: 1;
}
.wrapper.facilities .alineando .box.right img {
  width: 100%;
}
.wrapper.facilities .alineando.reverse .box.left {
  width: 30%;
}
.wrapper.facilities .alineando.reverse .box.left p {
  margin: 0;
}
.wrapper.facilities .alineando.reverse .box.right {
  width: 65%;
}
.wrapper.facilities ul.tablas {
  font-size: 0.9em;
  padding: 1em 0;
}
.wrapper.facilities ul.tablas li {
  display: inline-block;
  padding-right: 1em;
}
.wrapper.facilities ul.tablas li span {
  display: block;
}
.wrapper.facilities ul.tablas li span:first-child {
  color: #d40416;
  font-family: "Foco-Bold";
  text-transform: uppercase;
}
.wrapper.facilities ul.tablas li:last-child {
  padding-right: 0;
}
.wrapper.facilities ul.tablas li:before {
  content: none;
}
.wrapper.facilities .featured .box h2 {
  color: #d40416;
  text-transform: uppercase;
}
.wrapper.contact p.description {
  font-size: 1.5em;
}
.wrapper.contact ul.info {
  text-align: center;
  padding: 2em 0;
}
.wrapper.contact ul.info:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper.contact ul.info li {
  width: 30%;
  float: left;
  margin-right: 5%;
}
.wrapper.contact ul.info li:last-child {
  margin-right: 0;
}
.wrapper.contact ul.info li div,
.wrapper.contact ul.info li span {
  display: block;
  padding: 0.5em 0;
}
.wrapper.contact ul.info li div:first-child,
.wrapper.contact ul.info li span:first-child {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.contact ul.info li div img.icon-address,
.wrapper.contact ul.info li span img.icon-address {
  width: 61px;
}
.wrapper.contact ul.info li div img.icon-phone,
.wrapper.contact ul.info li span img.icon-phone {
  width: 69px;
}
.wrapper.contact ul.info li div img.icon-mail,
.wrapper.contact ul.info li span img.icon-mail {
  width: 87px;
}
.wrapper.contact ul.info li div img.icon-form,
.wrapper.contact ul.info li span img.icon-form {
  width: 61px;
}
.wrapper.contact ul.info li div.name,
.wrapper.contact ul.info li span.name {
  font-size: 1.3em;
  color: #d40416;
}
.wrapper.contact .formulario:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper.contact .formulario .box {
  float: left;
}
.wrapper.contact .formulario .box.left {
  width: 30%;
  margin-right: 5%;
}
.wrapper.contact .formulario .box.right {
  width: 65%;
}
.wrapper.contact .formulario .box.right a.send {
  background: #d40416;
  padding: 1em;
  margin: 1em 0;
  max-width: 100%;
  text-transform: uppercase;
}
.wrapper.contact .mapa iframe {
  width: 100%;
}
.wrapper .wpcf7:after,
.wrapper .form:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper .wpcf7 .screen-reader-response,
.wrapper .form .screen-reader-response {
  width: initial;
}
.wrapper .wpcf7 div,
.wrapper .wpcf7 span,
.wrapper .form div,
.wrapper .form span {
  display: block;
  width: 100%;
  float: left;
  margin: 1em 0;
  box-sizing: border-box;
}
.wrapper .wpcf7 div.col2,
.wrapper .wpcf7 span.col2,
.wrapper .form div.col2,
.wrapper .form span.col2 {
  width: 45%;
}
.wrapper .wpcf7 div.col2.left,
.wrapper .wpcf7 span.col2.left,
.wrapper .form div.col2.left,
.wrapper .form span.col2.left {
  margin-right: 10%;
}
.wrapper .wpcf7 div input,
.wrapper .wpcf7 span input,
.wrapper .form div input,
.wrapper .form span input {
  border-bottom: 2px solid #f4f3f3;
  width: 100%;
  padding: 1em 0;
  box-sizing: border-box;
}
.wrapper .wpcf7 div input.inputfile,
.wrapper .wpcf7 span input.inputfile,
.wrapper .form div input.inputfile,
.wrapper .form span input.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.wrapper .wpcf7 div input.inputfile + label,
.wrapper .wpcf7 span input.inputfile + label,
.wrapper .form div input.inputfile + label,
.wrapper .form span input.inputfile + label {
  padding: 0.5em 1em;
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background: #2b2b2b;
  display: inline-block;
  cursor: pointer;
}
.wrapper .wpcf7 div input.inputfile:focus + label, .wrapper .wpcf7 div input.inputfile + label:hover,
.wrapper .wpcf7 span input.inputfile:focus + label,
.wrapper .wpcf7 span input.inputfile + label:hover,
.wrapper .form div input.inputfile:focus + label,
.wrapper .form div input.inputfile + label:hover,
.wrapper .form span input.inputfile:focus + label,
.wrapper .form span input.inputfile + label:hover {
  background: #D3394C;
}
.wrapper .wpcf7 div .inputfile:focus + label,
.wrapper .wpcf7 span .inputfile:focus + label,
.wrapper .form div .inputfile:focus + label,
.wrapper .form span .inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.wrapper .wpcf7 div .labelFile,
.wrapper .wpcf7 span .labelFile,
.wrapper .form div .labelFile,
.wrapper .form span .labelFile {
  padding: 0.5em 1em;
  font-size: 1.25em;
  font-weight: 700;
  color: #d40416;
  background: #fff;
  border: 2px solid #d40416;
  display: inline-block;
  cursor: pointer;
}
.wrapper .wpcf7 div .labelFile:hover,
.wrapper .wpcf7 span .labelFile:hover,
.wrapper .form div .labelFile:hover,
.wrapper .form span .labelFile:hover {
  background: #d40416;
  color: #fff;
}
.wrapper .wpcf7 div textarea,
.wrapper .wpcf7 span textarea,
.wrapper .form div textarea,
.wrapper .form span textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f4f3f3;
}
.wrapper .wpcf7 div input::-webkit-input-placeholder,
.wrapper .wpcf7 div textarea::-webkit-input-placeholder,
.wrapper .wpcf7 span input::-webkit-input-placeholder,
.wrapper .wpcf7 span textarea::-webkit-input-placeholder,
.wrapper .form div input::-webkit-input-placeholder,
.wrapper .form div textarea::-webkit-input-placeholder,
.wrapper .form span input::-webkit-input-placeholder,
.wrapper .form span textarea::-webkit-input-placeholder {
  color: #2b2b2b;
}
.wrapper .wpcf7 div input::-moz-placeholder,
.wrapper .wpcf7 div textarea::-moz-placeholder,
.wrapper .wpcf7 span input::-moz-placeholder,
.wrapper .wpcf7 span textarea::-moz-placeholder,
.wrapper .form div input::-moz-placeholder,
.wrapper .form div textarea::-moz-placeholder,
.wrapper .form span input::-moz-placeholder,
.wrapper .form span textarea::-moz-placeholder {
  color: #2b2b2b;
}
.wrapper .wpcf7 div input:-ms-input-placeholder,
.wrapper .wpcf7 div textarea:-ms-input-placeholder,
.wrapper .wpcf7 span input:-ms-input-placeholder,
.wrapper .wpcf7 span textarea:-ms-input-placeholder,
.wrapper .form div input:-ms-input-placeholder,
.wrapper .form div textarea:-ms-input-placeholder,
.wrapper .form span input:-ms-input-placeholder,
.wrapper .form span textarea:-ms-input-placeholder {
  color: #2b2b2b;
}
.wrapper .wpcf7 div input:-moz-placeholder,
.wrapper .wpcf7 div textarea:-moz-placeholder,
.wrapper .wpcf7 span input:-moz-placeholder,
.wrapper .wpcf7 span textarea:-moz-placeholder,
.wrapper .form div input:-moz-placeholder,
.wrapper .form div textarea:-moz-placeholder,
.wrapper .form span input:-moz-placeholder,
.wrapper .form span textarea:-moz-placeholder {
  color: #2b2b2b;
}
.wrapper .wpcf7 div textarea,
.wrapper .wpcf7 span textarea,
.wrapper .form div textarea,
.wrapper .form span textarea {
  height: 6em;
}
.wrapper .wpcf7 select,
.wrapper .form select {
  -webkit-appearance: initial;
  background: url(../images/icon-down.png) no-repeat right center #fff;
  width: 100%;
  padding: 1em 0;
  border: none;
  border-bottom: 2px solid #f4f3f3;
}
.wrapper .wpcf7 .bcondiciones,
.wrapper .form .bcondiciones {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d40416;
  font-size: 0.9em;
}
.wrapper .wpcf7 .bcondiciones span,
.wrapper .form .bcondiciones span {
  width: initial;
}
.wrapper .wpcf7 .bcondiciones input,
.wrapper .form .bcondiciones input {
  width: initial;
  margin-right: 0.5em;
}
.wrapper.products .processing {
  background: #f4f3f3;
  padding: 2em 0;
  text-align: center;
}
.wrapper.products .processing .border {
  margin: 0 auto;
}
.wrapper.products .processing ul {
  padding: 0;
}
.wrapper.products .processing ul.human-source {
  padding: 1em 0;
}
.wrapper.products .processing ul.human-source li {
  display: inline-block;
  vertical-align: middle;
}
.wrapper.products .processing ul.human-source li span {
  display: block;
  color: #d40416;
  font-size: 1.2em;
}
.wrapper.products .processing ul.human-source li span img {
  width: 100%;
  max-width: 99px;
}
.wrapper.products .processing ul.human-source li span:first-child {
  padding: 0;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.products .processing ul.human-source li span:first-child img {
  max-width: 90px;
}
.wrapper.products .processing ul.human-source li:before {
  content: none;
}
.wrapper.products .processing ul.human-source li:nth-child(even) {
  padding: 0 4em;
}
.wrapper.products .item h2.title-section {
  text-align: center;
}
.wrapper.products .item .point {
  padding-bottom: 2em;
}
.wrapper.products .item .border {
  margin: 0 auto;
}
.wrapper.products .item .featured {
  background: initial;
}
.wrapper.products .item .featured .box {
  width: 50%;
  height: auto;
}
.wrapper.products .item .featured .box h2 {
  color: #d40416;
  text-transform: uppercase;
}
.wrapper.products .item .featured .box .border {
  margin: initial;
}
.wrapper.products .item .featured .box.left img {
  width: 100%;
  height: auto;
}
.wrapper.products .item .featured .box.left .slick-dots li.slick-active button {
  background: #d40416;
}
.wrapper.products .item .featured .box a.contact {
  background: #d40416;
  border: 1px solid #d40416;
  margin: 0;
  text-transform: uppercase;
  max-width: 15em;
}
.wrapper.products .item .featured .box a.contact:hover {
  color: #d40416;
}
.wrapper.products .item .message {
  text-align: center;
}
.wrapper.products .item .message a {
  text-decoration: underline;
  color: #d40416;
}
.wrapper.products .item .message a:hover {
  color: #00a43e;
}
.wrapper.products .values {
  text-align: center;
  padding: 1em 0;
}
.wrapper.products .values h2 {
  text-transform: initial;
  margin: 1.2em 0;
  text-transform: uppercase;
  font-family: "FocoLight-Regular";
}
.wrapper.products .values ul {
  padding: 0;
  margin: 0;
}
.wrapper.products .values ul:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper.products .values ul li {
  width: 30%;
  float: left;
  margin: 0 5% 2em 0;
}
.wrapper.products .values ul li:nth-child(3n) {
  margin-right: 0;
}
.wrapper.products .values ul li span {
  display: block;
}
.wrapper.products .values ul li span h4 {
  color: #d40416;
}
.wrapper.products .values ul li span:first-child {
  width: 100%;
  height: 100%;
  min-height: 205px;
  overflow: hidden;
}
.wrapper.products .values ul li span:first-child img {
  width: 100%;
}
.wrapper.products .values > ul > li .productGalleryCh .slick-slide,
.wrapper.products .values > ul > li .productGalleryEs .slick-slide,
.wrapper.products .values > ul > li .productGalleryEn .slick-slide {
  position: relative;
}
.wrapper.products .values > ul > li .productGalleryCh .slick-slide .status,
.wrapper.products .values > ul > li .productGalleryEs .slick-slide .status,
.wrapper.products .values > ul > li .productGalleryEn .slick-slide .status {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  background: #d40416;
  color: #fff;
  width: initial;
  height: initial;
  min-height: initial;
  font-size: 0.7em;
}
.wrapper.products .values > ul > li .productGalleryCh .slick-dots,
.wrapper.products .values > ul > li .productGalleryEs .slick-dots,
.wrapper.products .values > ul > li .productGalleryEn .slick-dots {
  bottom: 0.5em;
  right: 0.5em;
  display: flex;
}
.wrapper.products .values > ul > li .productGalleryCh .slick-dots li,
.wrapper.products .values > ul > li .productGalleryEs .slick-dots li,
.wrapper.products .values > ul > li .productGalleryEn .slick-dots li {
  margin: 0;
}
.wrapper.products .values > ul > li .productGalleryCh .slick-dots li button,
.wrapper.products .values > ul > li .productGalleryEs .slick-dots li button,
.wrapper.products .values > ul > li .productGalleryEn .slick-dots li button {
  width: 10px;
  height: 10px;
}
.wrapper.products .values > ul > li .productGalleryCh .slick-dots li.slick-active button,
.wrapper.products .values > ul > li .productGalleryEs .slick-dots li.slick-active button,
.wrapper.products .values > ul > li .productGalleryEn .slick-dots li.slick-active button {
  background: #d40416;
}
.wrapper.products .values > ul > li .productGalleryCh img,
.wrapper.products .values > ul > li .productGalleryEs img,
.wrapper.products .values > ul > li .productGalleryEn img {
  width: 100%;
}
.wrapper.press ul.ui-tabs-nav li.ui-state-active {
  background: #f4f3f3;
  transition: 0.5s all ease-out;
}
.wrapper.press .container ul.posts {
  padding: 2em 0;
}
.wrapper.press .container ul.posts:after {
  content: "";
  display: table;
  clear: both;
}
.wrapper.press .container ul.posts li {
  float: left;
  width: 30%;
  margin: 0 5% 3em 0;
}
.wrapper.press .container ul.posts li span {
  display: block;
}
.wrapper.press .container ul.posts li:nth-child(3n) {
  margin-right: 0;
}
.wrapper.press .container ul.posts li .thumbnail {
  height: 10em;
  overflow: hidden;
}
.wrapper.press .container ul.posts li .thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}
.wrapper.press .container ul.posts li .excerpt {
  padding: 1em;
  border-left: 1px solid #b1b1b1;
  border-right: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  box-sizing: border-box;
  position: relative;
  min-height: 12em;
}
.wrapper.press .container ul.posts li .excerpt span.date {
  text-transform: uppercase;
  font-size: 0.7em;
  padding: 0 0 1em 0;
}
.wrapper.press .container ul.posts li .excerpt span.category {
  font-family: "Foco-Bold";
  font-size: 0.7em;
  padding: 0 0 0.5em 0;
}
.wrapper.press .container ul.posts li .excerpt span.title {
  color: #d40416;
  font-family: "Foco-Bold";
  text-transform: uppercase;
}
.wrapper.press .container ul.posts li .excerpt .readmore {
  background: #d40416;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 0.8em;
  position: absolute;
  left: 0.7em;
  bottom: 0.7em;
}
.wrapper.press .container ul.posts li .excerpt .readmore i {
  font-size: 0.9em;
}
.wrapper.press .container ul.posts li:hover {
  background: #b10312;
}
.wrapper.press .container ul.posts li:hover .excerpt {
  color: #fff;
}
.wrapper.press .container ul.posts li:hover .excerpt span.title {
  color: #fff;
}
.wrapper.working .container ul {
  padding: 1em 0;
}
.wrapper.working .container ul.info li:nth-child(3n) {
  margin-right: 0;
}
.wrapper.working .container ul.addrees {
  text-align: center;
}
.wrapper.working .container ul.addrees li {
  display: inline-block;
  width: 30%;
}
.wrapper.working .container ul.addrees li div {
  display: block;
  padding: 0.5em 0;
}
.wrapper.working .container ul.addrees li div:first-child {
  min-height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper.working .container ul.addrees li div:first-child img {
  width: 61px;
}
.wrapper.working .container ul.addrees li div.name {
  font-size: 1.3em;
  color: #d40416;
}
.wrapper.working .container ul a {
  color: #d40416;
}
.wrapper.working .container .formulario .box.right .form div.col2 select,
.wrapper.working .container .formulario .box.right .form span.col2 select {
  background: url(../images/icon-down.png) no-repeat right center #fff;
  border: none;
  border-bottom: 2px solid #f4f3f3;
  width: 100%;
  padding: 1em 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wrapper.working .container .formulario .box.right .form div.file,
.wrapper.working .container .formulario .box.right .form span.file {
  text-align: center;
}
.wrapper.working .container .formulario .box.right .form div.condiciones,
.wrapper.working .container .formulario .box.right .form span.condiciones {
  text-align: center;
}
.wrapper.working .container .formulario .box.right .form div.condiciones input,
.wrapper.working .container .formulario .box.right .form span.condiciones input {
  width: initial;
}
.wrapper.working .container .formulario .box.right .form div.condiciones a,
.wrapper.working .container .formulario .box.right .form span.condiciones a {
  color: #d40416;
}
.wrapper.working .container .formulario .file {
  text-align: center !important;
}
.wrapper .slick-dots {
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.wrapper .slick-dots li {
  display: inline-block;
  padding: 0 0.2em;
  line-height: 100%;
}
.wrapper .slick-dots li.slick-active button {
  background: #00a43e;
}
.wrapper .slick-dots li button {
  font-size: 0;
  padding: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 0;
  -webkit-box-shadow: 1px 1px 5px 1px #000;
  box-shadow: 1px 1px 5px 1px #000;
  transition: 0.5s all ease-out;
}
.wrapper .slick-dots li button:hover {
  background: #00a43e;
}
.wrapper .slick-dots li button:focus {
  outline: none;
}
.wrapper .slick-dots li:before {
  content: none !important;
}

svg {
  width: 3.5em;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}

path {
  fill: none;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
  stroke-width: 40px;
  stroke-linecap: round;
  stroke: #2b2b2b;
  stroke-dashoffset: 0px;
}

path#top,
path#bottom {
  stroke-dasharray: 240px 950px;
}

path#middle {
  stroke-dasharray: 240px 240px;
}

.cross path#top,
.cross path#bottom {
  stroke-dashoffset: -650px;
  stroke-dashoffset: -650px;
}

.cross path#middle {
  stroke-dashoffset: -115px;
  stroke-dasharray: 1px 220px;
}

.termCondiciones {
  text-align: center;
  padding: 2em;
}
.termCondiciones h2 {
  color: #d40416;
}

.askInformation form {
  padding: 2em;
  background: #fff;
  box-sizing: border-box;
}
.askInformation div {
  padding: 0.5em 0;
}
.askInformation div.message {
  padding-top: 1.5em;
}
.askInformation div,
.askInformation span {
  display: block;
  width: 100%;
  float: left;
  box-sizing: border-box;
}
.askInformation div.col2,
.askInformation span.col2 {
  width: 55%;
}
.askInformation div.col2.left,
.askInformation span.col2.left {
  margin-right: 10%;
}
.askInformation div input,
.askInformation span input {
  border-bottom: 2px solid #f4f3f3;
  width: 100%;
  padding: 1em 0;
  box-sizing: border-box;
}
.askInformation div textarea,
.askInformation span textarea {
  width: 100%;
  height: 7em;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f4f3f3;
}
.askInformation div input::-webkit-input-placeholder,
.askInformation div textarea::-webkit-input-placeholder,
.askInformation span input::-webkit-input-placeholder,
.askInformation span textarea::-webkit-input-placeholder {
  color: #2b2b2b;
}
.askInformation div input::-moz-placeholder,
.askInformation div textarea::-moz-placeholder,
.askInformation span input::-moz-placeholder,
.askInformation span textarea::-moz-placeholder {
  color: #2b2b2b;
}
.askInformation div input:-ms-input-placeholder,
.askInformation div textarea:-ms-input-placeholder,
.askInformation span input:-ms-input-placeholder,
.askInformation span textarea:-ms-input-placeholder {
  color: #2b2b2b;
}
.askInformation div input:-moz-placeholder,
.askInformation div textarea:-moz-placeholder,
.askInformation span input:-moz-placeholder,
.askInformation span textarea:-moz-placeholder {
  color: #2b2b2b;
}
.askInformation select {
  -webkit-appearance: initial;
  background: url(../images/icon-down.png) no-repeat right center #fff;
  width: 100%;
  padding: 1em 0;
  border: none;
  border-bottom: 2px solid #f4f3f3;
}
.askInformation .wpcf7-validation-errors {
  margin: 0;
  font-size: 0.8em;
  text-align: center;
  color: #d40416;
  border: none;
}

table {
  width: 73%;
  margin: 1em 0;
}
table thead th {
  color: #d40416;
}
table thead th:nth-child(1) {
  text-align: left;
  width: 50%;
}
table thead th:nth-child(2), table thead th:nth-child(3) {
  text-align: right;
}
table thead th:nth-child(2) {
  width: 20%;
}
table thead th:nth-child(3) {
  width: 30%;
}
table tbody tr td:nth-child(1) {
  width: 50%;
}
table tbody tr td:nth-child(2), table tbody tr td:nth-child(3) {
  text-align: right;
}
table tbody tr td:nth-child(2) {
  width: 20%;
}
table tbody tr td:nth-child(3) {
  width: 30%;
}
.wpml-ls-menu-item .wpml-ls-flag {
  display: none;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }

  .main .container .box ul {
    height: initial;
  }
  .main .container .box ul li {
    width: 100%;
  }
  .main .container .box.csr .carrousel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main .container .box.csr .carrousel .box-medium {
    width: 95%;
  }
  .main .container .statistics ul {
    display: initial;
  }
  .main .container .statistics ul li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 1em 0;
    text-align: center;
  }

  footer .top .container > ul > li {
    width: 28%;
  }
}
@media screen and (max-width: 414px) {
  header .container nav ul.share {
    display: flex;
  }

  .navigator {
    width: 100%;
    box-sizing: border-box;
  }
  .navigator .title ul li:last-child {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
  }
  .navigator .list {
    text-align: center;
  }
  .navigator .list ul li a .border {
    margin: 0 auto;
  }
  .navigator .share-mobile ul {
    text-align: center;
  }

  .banner {
    display: none;
  }

  .main {
    padding: 0 0 3em 0;
  }
  .main .container .box ul li .box-medium .box-small h4 {
    font-size: initial;
  }
  .main .container .box ul li .box-medium .box-small p {
    font-size: initial;
  }
  .main .box.about ul li:first-child {
    margin-bottom: 1em;
  }

  .wrapper .featured {
    flex-direction: column;
  }
  .wrapper .featured .box {
    width: 100% !important;
  }
  .wrapper.about .columns {
    flex-direction: column;
  }
  .wrapper.about .columns .box {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .wrapper.about .processing ul {
    display: block;
  }
  .wrapper.about .processing ul li i:before {
    transform: rotatez(90deg);
  }
  .wrapper.about #tabs-2 ul.human-source li {
    width: 100%;
    padding: 1.5em 0;
  }
  .wrapper.about #tabs-2 ul.human-source li:nth-child(even) {
    display: none;
  }
  .wrapper ul.team li {
    width: 47.5%;
    margin-right: 5%;
  }
  .wrapper ul.team li:nth-child(4n) {
    margin-right: 5%;
  }
  .wrapper ul.team li:nth-child(even) {
    margin-right: 0;
  }
  .wrapper.products .processing ul.human-source li {
    display: block;
  }
  .wrapper.products .processing ul.human-source li:nth-child(even) {
    display: none;
  }
  .wrapper.products .processing ul.human-source li:nth-child(odd) {
    padding: 1em 0;
  }
  .wrapper.products .item .featured .box {
    text-align: center;
  }
  .wrapper.products .values ul li {
    width: 100%;
    margin-right: 0;
  }
  .wrapper.facilities .alineando .box {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .wrapper.facilities .alineando .box.left img {
    width: 100%;
  }
  .wrapper.press .container ul.posts li {
    width: 100%;
    margin-right: 0;
  }
  .wrapper.contact ul.info li {
    float: none;
    display: inline-block;
    width: 100%;
    margin-right: 0;
  }
  .wrapper.contact .formulario .box {
    width: 100% !important;
    margin-right: 0 !important;
  }
  footer .top .container > ul > li {
    width: 47.5%;
    min-height: initial;
  }
  footer .top .container > ul > li:nth-child(even) {
    margin-right: 0;
  }
  footer .top .container > ul > li:nth-child(5n) {
    margin-right: 5%;
  }
  footer .bottom .container {
    flex-direction: column;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
}

/*# sourceMappingURL=main.css.map */
